<ion-header>
  <ion-toolbar color="secondary">
<ion-buttons>
    <ion-row>
        <ion-col class="active">
          <ion-button>
            <ion-icon slot="icon-only" name="headset"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button>
            <ion-icon slot="icon-only" name="bookmarks"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button>
            <ion-icon slot="icon-only" name="mail"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button>
            <ion-icon slot="icon-only" name="text"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button>
            <ion-icon slot="icon-only" name="person"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
</ion-buttons>

  </ion-toolbar>


</ion-header>

<ion-content class="background">

  <h1 class="title"><span [routerLink]="['/media/favorites/playlist/']" routerDirection="forward">Плейлисты</span>
    <ion-icon (click)="presentAlert()" class="float-right mr-20" name="add-circle-outline"></ion-icon>
  </h1>

    <!-- <h6 class="text-center" *ngIf="playlists && playlists.length==0"><small>Пусто</small></h6> -->

  <ion-slides #slide [options]="slideOpts" approxItemHeight="50" *ngIf="slideShow" [@FadeIn]>
      <ion-slide *ngFor="let item of playlists" [routerLink]="['/media/favorites/playlist/'+item.id]" routerDirection="forward">
        <img *ngIf="item.imgSrc" [src]="item.imgSrc" [alt]="item.title">
        <img *ngIf="!item.imgSrc" src="assets/nope.png" alt="">
        <h6 class="mt-5" *ngIf="item.author">{{ item.author }}<br /><small class="small text-muted">{{ item.title }}</small></h6>
        <h6 class="mt-5" *ngIf="!item.author">{{ item.title }}<br /><small *ngIf="item.files" class="small text-muted">{{ item.files.length }} треков</small></h6>
      </ion-slide>
    </ion-slides>
<!--
    <div class="text-center">
      <ion-button color="light" shape="round" size="small">Показать все ...</ion-button>
    </div> -->

  <ion-list>

    <ion-list-header class="mb-m10">
      <h4 class="strong">Мои треки</h4>
    </ion-list-header>

    <div class="serach-bar" *ngIf="myTracks && myTracks.length>0">
      <ion-searchbar #searchbar [@FadeIn] placeholder="Поиск" clearIcon showCancelButton="always" cancelButtonText="Закрыть" (ionInput)="onSearch($event)" (ionCancel)="toggleSearchbar(false)" (keyup.enter)="toggleSearchbar(false)"></ion-searchbar>
    </div>

  <!-- <h6 class="text-center" *ngIf="myTracksList && myTracksList.length==0"><small>Пусто</small></h6> -->

    <ion-virtual-scroll *ngIf="myTracksList && myTracksList.length>0" [items]="myTracksList">
      <div style="height: 70px;" *virtualItem="let item;">

          <ion-list>

            <ion-item lines="none" (click)="release(item, myTracksList)">
              <ion-thumbnail slot="start">
                <img [src]="item.imgSrc" [alt]="item.author + ' - ' + item.title">
              </ion-thumbnail>
              <ion-label>
                <h2>{{ item.author }}</h2>
                <h3 class="text-muted">{{ item.title }}</h3>
              </ion-label>
              <p class="track-time text-muted">{{ item.time }}</p>
              <ion-icon name="more" (click)="presentActionSheet(item)"></ion-icon>
            </ion-item>


          </ion-list>


      </div>

    </ion-virtual-scroll>
  </ion-list>

  <br *ngIf="trackData['status']">
  <br *ngIf="trackData['status']">

    <div class="footer-media-info" *ngIf="trackData['status']">
      <div class="track-duration" [style.width]="(trackData['position'] / this.trackData['duration'] * 100)+'%'"></div>
      <ion-grid>
        <ion-row>
          <ion-col class="icon" size="3" (click)="openModal([{id: 0}])">
            <ion-icon name="arrow-dropup"></ion-icon>
          </ion-col>
          <ion-col class="text-center" (click)="openModal([{id: 0}])">
            <small *ngFor="let data of trackData['data']">
             {{ data.author }}<br />
              <small>{{ data.title }}</small></small>
          </ion-col>
          <ion-col class="text-right icon" size="3" >
            <ion-spinner name="crescent" color="secondary" *ngIf="trackData['status']<=1"></ion-spinner>
            <ion-icon name="pause" *ngIf="trackData['status']==2" (click)="pause()"></ion-icon>
            <ion-icon name="play" *ngIf="trackData['status']>2" (click)="play()"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>
