<ion-header>
  <ion-toolbar color="secondary">
<ion-buttons>
    <ion-row>
        <ion-col class="active">
          <ion-button>
            <ion-icon slot="icon-only" name="headset"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button>
            <ion-icon slot="icon-only" name="bookmarks"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button>
            <ion-icon slot="icon-only" name="mail"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button>
            <ion-icon slot="icon-only" name="text"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button>
            <ion-icon slot="icon-only" name="person"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
</ion-buttons>

  </ion-toolbar>


</ion-header>

<ion-content class="background">

  <h1 class="title">Поиск</h1>

  <div class="serach-bar">
    <ion-searchbar #searchbar debounce="500" [@FadeIn] placeholder="Что вы ищите?" clearIcon showCancelButton="always" cancelButtonText="Закрыть" (ionInput)="onSearch($event)" (ionCancel)="toggleSearchbar(false)" (keyup.enter)="toggleSearchbar(false)"></ion-searchbar>
  </div>


  <h1 class="title" *ngIf="filterSearch">Плейлисты
<ion-badge color="white">1</ion-badge></h1>

<ion-slides #slide [options]="slideOpts" approxItemHeight="50" *ngIf="filterSearch && slideShow" [@FadeIn]>
    <ion-slide *ngFor="let item of playlists" [routerLink]="['/media/search/playlist/'+item.id]" routerDirection="forward">
      <img [src]="item.imgSrc" [alt]="item.title">
      <h6 class="mt-5" *ngIf="item.author">{{ item.author }}<br /><small class="small text-muted">{{ item.title }}</small></h6>
      <h6 class="mt-5" *ngIf="!item.author">{{ item.title }}<br /><small class="small text-muted">{{ item.tracks.length }} треков</small></h6>
    </ion-slide>
  </ion-slides>

  <ion-list *ngIf="filterSearch">
      <ion-list-header class="mb-0">
        <h4 class="strong">Найдено</h4>
      </ion-list-header>

      <h6 class="text-center" *ngIf="filterSearch && searchList && searchList.length==0"><small>Пусто</small></h6>

    <ion-virtual-scroll *ngIf="searchList.length>0" [items]="searchList" >
      <div style="height: 70px;" *virtualItem="let item;">

          <ion-list>

            <ion-item lines="none" (click)="release(item, searchList)">
              <ion-thumbnail slot="start">
                <img [src]="item.imgSrc" [alt]="item.author + ' - ' + item.title">
              </ion-thumbnail>
              <ion-label>
                <h2>{{ item.author }}</h2>
                <h3 class="text-muted">{{ item.title }}</h3>
              </ion-label>
              <p class="track-time text-muted">{{ item.time }}</p>
              <ion-icon name="more" (click)="presentActionSheet(item)"></ion-icon>
            </ion-item>


          </ion-list>


      </div>

    </ion-virtual-scroll>
</ion-list>

  <ion-list *ngIf="!filterSearch" class="mb-0">
    <ion-list-header class="mb-0" [routerLink]="['/media/search/list/news/']" routerDirection="forward">
      <h4 class="strong">Новинки</h4>
      <h3>
        <ion-icon name="arrow-forward"></ion-icon>
      </h3>
    </ion-list-header>

    <ion-item lines="none" (click)="release(item, news)" *ngFor="let item of news">
      <ion-thumbnail slot="start">
        <img [src]="item.imgSrc" [alt]="item.title">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.author }}</h2>
        <h3 class="text-muted">{{ item.title }}</h3>
      </ion-label>
      <p class="track-time text-muted">{{ item.time }}</p>
      <ion-icon name="more" (click)="presentActionSheet(item)"></ion-icon>
    </ion-item>

  </ion-list>


  <ion-list *ngIf="!filterSearch" class="mb-0">
    <ion-list-header class="mb-0" [routerLink]="['/media/search/list/popular/']" routerDirection="forward">
      <h4 class="strong">Популярное</h4>
      <h3>
        <ion-icon name="arrow-forward"></ion-icon>
      </h3>
    </ion-list-header>

    <ion-item lines="none" (click)="release(item, popular)" *ngFor="let item of popular">
      <ion-thumbnail slot="start">
        <img [src]="item.imgSrc" [alt]="item.title">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.author }}</h2>
        <h3 class="text-muted">{{ item.title }}</h3>
      </ion-label>
      <p class="track-time text-muted">{{ item.time }}</p>
      <ion-icon name="more" (click)="presentActionSheet(item)"></ion-icon>
    </ion-item>

  </ion-list>

  <br *ngIf="trackData['status']">
  <br *ngIf="trackData['status']">


  <div class="footer-media-info" *ngIf="trackData['status']">
    <div class="track-duration" [style.width]="(trackData['position'] / this.trackData['duration'] * 100)+'%'"></div>
    <ion-grid>
      <ion-row>
        <ion-col class="icon" size="3" (click)="openModal([{id: 0}])">
          <ion-icon name="arrow-dropup"></ion-icon>
        </ion-col>
        <ion-col class="text-center" (click)="openModal([{id: 0}])">
          <small *ngFor="let data of trackData['data']">
           {{ data.author }}<br />
            <small>{{ data.title }}</small></small>
        </ion-col>
        <ion-col class="text-right icon" size="3" >
          <ion-spinner name="crescent" color="secondary" *ngIf="trackData['status']<=1"></ion-spinner>
          <ion-icon name="pause" *ngIf="trackData['status']==2" (click)="pause()"></ion-icon>
          <ion-icon name="play" *ngIf="trackData['status']>2" (click)="play()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
